<ion-content *ngIf=!room.title>
  <div class="item profilepic-border" align="center">
    <ion-button routerLink="/home" routerDirection="root" class="returnbutton" fill="clear" size="large" color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="favoritebutton" fill="clear" size="large" color="light" slot="end">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
    <ion-skeleton-text animated style="height: 200px" class="ion-no-margin"></ion-skeleton-text>
  </div>

  <div>
    <ion-item lines="none">
      <ion-label>
        <b>
          <ion-skeleton-text animated></ion-skeleton-text>
        </b>
      </ion-label>
    </ion-item>
  </div>

  <div>
    <ion-item lines="none">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <p>Preço:</p>
      <ion-skeleton-text animated style="width: 30%" slot="end"></ion-skeleton-text>
    </ion-item>
  </div>

  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-format="MM/DD/YYYY" max="2012-12-09"></ion-datetime>
    <ion-datetime display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" placeholder="Selecione a Data"
      [min]="CurrDateISO" max="2030-12-31" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Horário</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="startTime" placeholder="Inicio"
      minuteValues="0">
    </ion-datetime>
    <p class="ion-padding ion-no-margin">até</p>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="endTime" placeholder="Fim" minuteValues="0">
    </ion-datetime>
  </ion-item>
</ion-content>

<ion-content *ngIf=room.title>

  <div class="item profilepic-border" align="center">
    <ion-button routerLink="/home" routerDirection="root" class="returnbutton" fill="clear" size="large" color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="favoritebutton" fill="clear" size="large" color="light" slot="end">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
    <img *ngIf="!room.photoURL" class="profilepic" src="../../../assets/no-image-icon.png">
    <img *ngIf="room.photoURL" class="profilepic" [src]="room.photoURL">
  </div>

  <div>
    <ion-item lines="none">
      <ion-label>
        <b>
          {{ room.title }}
        </b>
      </ion-label>
    </ion-item>
  </div>

  <div class="ion-text-wrap">
    <ion-item lines="none">
      <p>
        {{ room.description }}
      </p>
    </ion-item>
  </div>

  <div *ngIf="room.address">
    <ion-item>
      {{ room.address }}
    </ion-item>
  </div>

  <div>
    <ion-item>
      Preço: {{room.price | currency:'BRL':'symbol':'1.2-2'}} / Hora
    </ion-item>
  </div>

  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-format="MM/DD/YYYY" max="2012-12-09"></ion-datetime>
    <ion-datetime display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" placeholder="Selecione a Data"
      [min]="CurrDateISO" max="2030-12-31" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Horário</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="startTime" placeholder="Inicio"
      minuteValues="0">
    </ion-datetime>
    <p class="ion-padding ion-no-margin">até</p>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="endTime" placeholder="Fim" minuteValues="0">
    </ion-datetime>
  </ion-item>


</ion-content>


<ion-footer *ngIf=room.title>
  <ion-toolbar>
    <ion-item lines="none" slot="start">
      Total
    </ion-item>
    <ion-item lines="none" slot="end">
      {{room.price | currency:'BRL':'symbol':'1.2-2'}}
    </ion-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="guestID">
    <ion-button (click)="submitReservation()" expand="full">
      Reservar
    </ion-button>
  </ion-toolbar>
</ion-footer>