<ion-content padding center>

  <div>
    <div>
      <img src="../../../assets/A-Room-icon.png" class="logo-img">
    </div>

    <div class="slide-inner ion-padding inner-background">

      <ion-item class="ion-margin-top" lines="none">
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-icon name="lock"></ion-icon>
        <ion-input type="text" *ngIf="showPasswordText" placeholder="Senha" [(ngModel)]="userLogin.password">
        </ion-input>
        <ion-input type="password" *ngIf="!showPasswordText" placeholder="Senha" [(ngModel)]="userLogin.password">
        </ion-input>
        <button ion-button class="button" type="button" item-right (click)="showPasswordText = !showPasswordText">
          <ion-icon *ngIf="showPasswordText" name="eye"></ion-icon>
          <ion-icon *ngIf="!showPasswordText" name="eye-off"></ion-icon>
        </button>
      </ion-item>
      <p>Esqueci minha senha</p>

      <ion-button class="ion-margin-top button-bg" (click)="login()" expand="block">
        Entrar
      </ion-button>

      <ion-button class="ion-margin-top button-bg" (click)="Anonym()" expand="block">
        Entrar Anônimo
      </ion-button>


      <ion-button class="ion-margin-top button-bg" (click)="Register()" expand="block">
        Registrar
      </ion-button>

    </div>
  </div>



</ion-content>